tomli==2.0
salem
xarray
numpy
black
flake8
pylint
matplotlib
pandas
pandas-stubs
geopandas
jupyter
jupyter-nbutils
jupyter_contrib_nbextensions
scikit-image
scipy
netcdf4
joblib
geopandas
descartes
jupyterlab
scipy
netcdf4
joblib
cftime
scikit-image
dask
metpy
windrose
cdo
prettyprint
