salem
xarray
numpy
black
flake8
pylint
matplotlib
pandas
pandas-stubs
geopandas
jupyter
jupyter-nbutils
jupyter_contrib_nbextensions
scikit-image
scipy
netcdf4
joblib
geopandas
descartes
jupyterlab
dask
