black
cdo
cftime
dask
descartes
flake8
geopandas
joblib
jupyter
jupyter-nbutils
jupyter_contrib_nbextensions
jupyterlab
matplotlib
metpy
nc-time-axis
netcdf4
numpy
pandas
pandas-stubs
prettyprint
pylint
rasterio
salem
scikit-image
scipy
tomli
windrose
xarray
pint_xarray
icecream
